html {
	font-family: Segoe ui, Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: .75em
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff6ef !important;
	background: url(./global/athome/PublishingImages/page-background.gif)
		top left repeat-x
}
.boxshade {
	-webkit-background-clip: border-box;
	-webkit-background-size: 100% 100%;
	-webkit-box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.296875) 0px 1px 5px 0px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: -webkit-linear-gradient(top, #F7F7FA, #E4E7EB);
	background-origin: padding-box;
	background-size: 100% 100%;
	border-bottom-color: #CCC;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #CCC;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #CCC;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #CCC;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.296875) 0px 1px 5px 0px;
	color: #666;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 16px;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: #666;
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 16px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 16px;
	position: relative;
	vertical-align: baseline;
}
#center {
	text-align: center;
	padding: 0;
	margin: 0
}

#contents {
	width: 982px;
	margin: 0 auto;
	padding: 0;
	text-align: left
}

#global {
	width: 982px;
	height: 35px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	text-align: right
}

#search {
	width: 982px;
	height: 82px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	background: url(./global/athome/PublishingImages/page_bg_top.png) bottom
		left no-repeat
}

#sitelogo {
	width: 350px;
	margin: 0;
	padding: 25px 0 0 26px;
	border: 0;
	float: left
}

#searchbox { /*width:500px;*/
	margin: 0;
	padding: 25px 26px 0 0;
	border: 0;
	float: right
}

.cueLiveSearchContainer {
	vertical-align: baseline
}

.msviLSBtbox {
	position: static
}

.SimpleSearchWebButton { *
	top: 3px
}

.SimpleSearchImageButton,.LiveSearchLogo {
	vertical-align: baseline !important
}

#siteoutline {
	width: 982px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	background: url(./global/athome/PublishingImages/page_bg_mid.png) top
		left repeat-y
}

#topnav {
	width: 982px;
	height: 34px;
	margin: 0;
	padding: 0;
	background-color: transparent
}

#hero {
	width: 982px;
	margin: 0;
	padding: 0;
	background-color: transparent
}

#main {
	width: 982px;
	margin: 0;
	padding: 20px 0;
	background-color: transparent
}

#homemain {
	width: 982px;
	margin: 0;
	padding: 20px 0;
	background-color: transparent
}

#footer {
	width: 982px;
	height: 71px;
	margin: 0 0 20px 0;
	padding: 15px 0 0 0;
	background-color: transparent;
	text-align: right;
	background: url(./global/athome/PublishingImages/page_bg_btm.png) top
		left no-repeat
}

#topnavcontrol {
	height: 34px;
	border: 0;
	margin: 0 0 0 6px;
	padding: 0 0 0 25px;
	background: url(./global/athome/PublishingImages/page_bg_nav.jpg) bottom
		left no-repeat;
	overflow: hidden
}

#herocontents {
	width: 970px;
	height: 129px;
	border: 0;
	margin: 0 0 0 6px;
	padding: 0;
	background-color: transparent
}

#landingherocontents {
	width: 970px;
	height: 225px;
	border: 0;
	margin: 0 0 0 6px;
	padding: 0;
	background-color: transparent
}

#homeherocontents {
	width: 970px;
	height: 316px;
	border: 0;
	margin: 0 0 0 6px;
	padding: 0;
	background-color: transparent
}

#herosilverlight {
	position: absolute;
	background-color: transparent;
	width: 227px;
	height: 202px;
	padding: 0;
	border: 0;
	margin: 80px 0 0 690px
}

.downlevelborder {
	margin: 0 0 20px 0;
	padding: 0;
	border: 1px solid #e5e4e0;
	width: 225px;
	height: 200px
}

.silverlightdownlevel {
	background:
		url(./global/athome/PublishingImages/silverlight/athome_sliderPanelBG.jpg)
		top left no-repeat;
	width: 227px;
	height: 202px
}

.silverlightdownlevel span.watchtext {
	display: block;
	width: 227px;
	text-align: center;
	position: absolute;
	margin: 130px 0 0 -217px;
	padding: 0;
	font-size: 1.2em
}

a.watchtext:link,a.watchtext:visited {
	color: #6699cc !important
}

a.watchtext:link :hover,a.watchtext:visited :hover {
	color: #e5e4e0 !important
}

.silverlightdownlevel img {
	margin: 10px 0 0 10px;
	padding: 0;
	border: 0
}

a.downloadsilverlight {
	display: block;
	width: 225px;
	height: 25px;
	text-indent: -999px;
	overflow: hidden
}

#leftnav {
	width: 220px;
	padding: 0;
	margin: -115px 0 0 16px;
	float: left; /*border:1px solid #b0b0ae;background-color:#f8fcec*/
}

#heromask {
	width: 716px;
	float: right;
	margin: -85px 6px 0 0;
	padding: 40px 0 0 0;
	background:
		url(./global/athome/PublishingImages/hero-background-blocker.png) top
		left no-repeat
}

#heromaskarticle {
	width: 716px;
	float: right;
	margin: -117px 244px 0 0;
	padding: 25px 0 0 0;
	background:
		url(./global/athome/PublishingImages/hero-background-blocker.png) top
		left no-repeat
}

#ctacolumn {
	width: 181px;
	padding: 0;
	margin: 0 26px 0 0;
	float: right;
	background-color: transparent
}

#articlecontent {
	width: 906px;
	margin: 0 0 0 26px;
	padding: 0;
	float: left
}

#articlecontentfull {
	width: 657px;
	margin: 0 0 0 26px;
	padding: 0;
	float: left
}

#homecontent {
	width: 660px;
	padding: 0;
	margin: 0 0 0 26px;
	float: left;
	background-color: transparent
}

#homehighlights {
	width: 660px;
	padding: 0;
	margin: 0;
	border: 0
}

.storyrow {
	width: 660px;
	padding: 0;
	margin: 0 0 20px 0;
	border: 0
}

.topleft {
	width: 315px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	float: left
}

.topright {
	width: 315px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	float: right
}

.highlightsimage {
	width: 100px;
	float: left;
	margin: 0 10px 0 0;
	padding: 0
}

.highlightstext {
	width: 200px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left
}

#homefeatured {
	width: 660px;
	padding: 0;
	margin: 15px 0 0 0;
	border: 0
}

.featuredrow {
	width: 660px;
	padding: 0;
	margin: 0;
	border: 0
}

.featureditem {
	width: 200px;
	margin: 0 30px 0 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	float: left
}

.featureditemlast {
	width: 200px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	float: left
}

#homemoreinfo {
	width: 660px;
	padding: 0;
	margin: 0;
	border: 0
}

.infocolumn {
	width: 200px;
	margin: 0 20px 0 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	float: left
}

#homecta {
	width: 660px;
	padding: 0;
	margin: 20px 0;
	background-color: transparent
}

.homenews {
	width: 193px;
	height: 126px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left
}

.homefeedback {
	width: 223px;
	height: 126px;
	margin: 0 25px;
	padding: 0;
	border: 0;
	float: left;
	background: url(./global/athome/PublishingImages/home/feedback_box.jpg)
		top left no-repeat
}

.homestore {
	width: 193px;
	height: 126px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left
}

.ctablock {
	display: block;
	height: 126px
}

.ctablock h2 {
	margin: 0;
	padding: 15px 20px 0 20px;
	line-height: 1em;
	font-weight: normal
}

#feedbackbutton {
	position: absolute;
	margin: 90px 0 0 95px
}

.captionedobject {
	width: 400px;
	margin: 0 0 15px 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}

#onthispage {
	width: 181px;
	border: 0;
	padding: 0;
	margin: 0 0 20px 0
}

#onthispagecontent {
	width: 181px;
	border: 0;
	padding: 10px 0 0 0;
	margin: 0
}

#rightrail {
	width: 181px;
	border: 0;
	padding: 0;
	margin: 0 0 20px 0;
	background: url(./global/athome/PublishingImages/related_bg_mid.gif) top
		left repeat-y
}

#rightrailcontent {
	width: 181px;
	border: 0;
	padding: 10px 0 0 0;
	margin: 0;
	background: url(./global/athome/PublishingImages/related_bg_top.gif) top
		left no-repeat
}

#store {
	width: 181px;
	height: 126px;
	border: 0;
	padding: 0;
	margin: 0 0 20px 0
}

#sidebar {
	width: 181px;
	padding: 10px 0;
	margin: 0 0 20px 0;
	border: 0;
	border-top: 1px solid #8d9c4b;
	border-bottom: 1px solid #8d9c4b;
	background-color: #f1f3e5
}

#featuredcontent {
	width: 450px;
	padding: 0 0 30px 0;
	margin: 0;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}

#articlecontentfull #featuredcontent {
	width: 657px;
	padding: 0 0 30px 0;
	margin: 0;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}

#articlecontentfull #featuredcontentguide {
	width: 637px;
	padding: 0 0 30px 0;
	margin: 0;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}

.featuredtext {
	width: 230px;
	float: left;
	margin: 0;
	padding: 0;
	border: 0
}

#articlecontentfull #featuredcontent .featuredtext {
	width: 437px
}

#articlecontentfull #featuredcontentguide .featuredtext {
	width: 367px
}

.featuredimage {
	width: 200px;
	float: right;
	margin: 0;
	padding: 0;
	border: 0
}

#articlecontentfull #featuredcontentguide .featuredimage {
	width: 250px
}

.featuredvideo {
	width: 320px;
	float: right;
	margin: 0;
	padding: 0;
	border: 0
}

.featuredvideotext {
	width: 110px;
	float: left;
	margin: 0;
	padding: 0;
	border: 0
}

.featuredvideotextfull {
	width: 300px;
	float: left;
	margin: 0;
	padding: 0;
	border: 0
}

.highlight {
	width: 450px;
	margin: 20px 0 0 0;
	padding: 0;
	border: 0
}

.highlightimage {
	width: 51px;
	float: left;
	margin: 0;
	padding: 0;
	border: 0
}

.highlighttext {
	width: 381px;
	float: right;
	margin: 0;
	padding: 0;
	border: 0
}

#articlecontentfull .highlight {
	width: 657px
}

#articlecontentfull .highlighttext {
	width: 588px
}

object {
	padding: 0;
	border: 0;
	margin: 0 0 20px 0
}

#featuredcontent object {
	float: right
}

#authorbio {
	margin: 15px 0 0 0;
	padding: 10px 0 0 0;
	border: 0;
	border-top: 1px solid #e5e5e5
}

.noborder {
	border: 0 !important
}

.leftside {
	width: 300px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left
}

.rightside {
	width: 250px;
	margin: 0 20px 0 0;
	padding: 0;
	border: 0;
	float: right
}

.imageandtext {
	margin: 20px 0 20px 0;
	padding: 0;
	border: 0;
	min-height: 100px
}

.imageandtext .floatright {
	margin: 5px 0 10px 20px !important
}

.imageandtext .floatleft {
	margin: 5px 20px 10px 0 !important
}

.pagegroup {
	margin: 0 0 40px 0;
	padding: 0;
	border: 0
}

hr.clear {
	display: block;
	clear: both;
	margin: -1em 0 0 0;
	padding: 0;
	height: 1px;
	visibility: hidden
}

.speedbump {
	width: 448px;
	margin: 40px 0 40px 0;
	padding: 0;
	border: 0
}

.speedbumpwide {
	width: 564px;
	margin: 40px 0 40px 0;
	padding: 0;
	border: 0
}

.speedbumpdouble {
	width: 216px;
	margin: 0 20px 20px 0;
	padding: 0;
	border: 0;
	float: left
}

.speedbumpsingle {
	width: 100px;
	margin: 0 20px 20px 0;
	padding: 0;
	border: 0;
	float: left
}

.bumpright {
	float: right;
	margin: 40px 0 40px 20px
}

.bumpfirst {
	width: 100px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left
}

.bump {
	width: 100px;
	margin: 0 0 0 16px;
	padding: 0;
	border: 0;
	float: left
}

p.bumptitle {
	font-weight: bold;
	margin: 10px 0 0 0 !important
}

p.bumpprice {
	text-align: right;
	margin: 5px 0 0 0 !important;
	font-weight: bold;
	font-size: 1.2em
}

p.bumpinfo {
	text-align: right;
	margin: 0 0 5px 0 !important;
	padding: 0;
	font-size: .75em
}

span.bumpusd {
	font-size: .65em;
	vertical-align: baseline;
	padding: 0 3px 0 0
}

p.bumpinfo a:link,p.bumpinfo a:visited {
	color: #6699cc
}

p.bumpinfo a:link :hover,p.bumpinfo a:visited :hover {
	color: #434343
}

a.bumpbuy:link,a.bumpbuy:visited {
	width: 100px;
	height: 25px;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	text-indent: -999px;
	overflow: hidden
}

a.bumpbuy:link :hover,a.bumpbuy:visited :hover {
	width: 100px;
	height: 25px;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	text-indent: -999px;
	overflow: hidden
}

img.moreright {
	padding: 0;
	margin: 0 0 0 2px;
	border: 0
}

img.header {
	margin: 0 0 40px 0;
	padding: 0;
	border: 0
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clear {
	display: inline-table
}

* html .clear {
	height: 1%
}

.clear {
	display: block
}

h1 {
	color: #434343;
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 0
}

h2 {
	color: #434343;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0
}

h3 {
	color: #434343;
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0
}

#homehighlights h2,.featuredtext h2 {
	font-family: Tahoma, Verdana;
	font-size: 1.15em
}

#homehighlights p,.featuredtext p {
	font-family: Tahoma, Verdana;
	font-size: 1.05em
}

p {
	color: #434343;
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 1.4em
}

p.intro {
	font-size: 1.3em;
	line-height: 1.35em;
	color: #666666
}

#onthispagecontent p,#rightrailcontent p,#store p {
	padding: 0 20px
}

#onthispagecontent h2,#rightrailcontent h2 {
	padding: 0 20px
}

#store h2 {
	padding: 15px 20px 0 20px;
	font-weight: normal;
	line-height: 1em;
	color: #ffffff
}

#pagetools {
	width: 450px;
	padding: 15px 0 0 0;
	margin: 10px 0;
	border: 0;
	border-top: 1px solid #e5e5e5
}

.relatedarticles {
	width: 230px;
	padding: 0;
	margin: 0;
	border: 0;
	float: left
}

.feedback {
	width: 140px;
	padding: 0;
	margin: 0;
	border: 0;
	float: right
}

.tools {
	width: 75px;
	padding: 0;
	margin: 0;
	border: 0;
	float: right
}

#articlecontentfull #pagetools {
	width: 656px
}

#articlecontentfull #pagetools .tools {
	padding-right: 207px
}

#pagetools h2 {
	font-size: 1.2em;
	font-weight: bold
}

ul {
	margin: 0 0 20px 15px;
	padding: 0
}

ol {
	margin: 0 0 20px 30px;
	padding: 0
}

li {
	margin: 0 0 -5px 0;
	padding: 0
}

p.inthisarticle {
	background: url(./global/athome/PublishingImages/in-this-bullet.gif) 0px
		3px no-repeat;
	margin: 0 20px 5px 20px;
	padding: 0 0 0 12px !important
}

p.rightrail {
	background: url(./global/athome/PublishingImages/related-bullet.gif) 0px
		4px no-repeat;
	margin: 0 20px 5px 20px;
	padding: 0 0 0 12px !important
}

#rightrailcontent .linklist .linklist {
	margin-left: 20px
}

p.articles {
	background: url(./global/athome/PublishingImages/related-bullet.gif) 0px
		4px no-repeat;
	margin: 0 0 8px 0;
	padding: 0 15px 0 12px !important
}

p.moreinfo {
	background: url(./global/athome/PublishingImages/related-bullet.gif) 0px
		4px no-repeat;
	margin: 0 0 5px 0;
	padding: 0 0 0 12px !important
}

p.newwindow {
	color: #bcbcbc
}

#sidebar p,#sidebar h2,#sidebar ul {
	padding: 0 10px
}

#sidebar li {
	margin-bottom: 5px
}

.feedback p {
	padding-right: 15px
}

p.morelink {
	margin: 20px 0 0 69px;
	padding: 0;
	border: 0
}

p.infomorelink {
	margin: 15px 0 0 11px;
	padding: 0;
	border: 0
}

.captionedobject p {
	margin-top: 10px
}

.floatright {
	float: right;
	margin: 10px 0 10px 10px
}

.floatleft {
	float: left;
	margin: 10px 10px 10px 0
}

.nofloat {
	margin: 0 0 10px 0
}

a:link {
	color: #6699cc;
	text-decoration: none;
	cursor: pointer
}

a:visited {
	color: #b81fb3;
	text-decoration: none;
	cursor: pointer
}

a:link :hover,a:visited :hover {
	color: #666666;
	text-decoration: none;
	cursor: pointer
}

.inthisarticle a:visited,.rightrail a:visited,#homecontent a:visited,.featuredtext a:visited,.highlighttext a:visited,#pagetools a:visited,.top a:visited
	{
	color: #6699cc
}

#global p {
	color: #ffffff;
	margin: 10px 15px 0 0
}

#global a:link,#global a:visited {
	color: #ffffff;
	text-decoration: none;
	margin: 0 5px 0
}

#global a:link :hover,#global a:visited :hover {
	color: #fff6ef;
	text-decoration: underline
}

#topnavcontrol span {
	float: left;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	height: 34px;
	overflow: hidden
}

#topnavcontrol a.off:link,#topnavcontrol a.off:visited {
	color: #ffffff;
	text-decoration: none;
	margin: 0;
	padding: 11px 15px;
	background-color: transparent;
	display: block;
	border: 1px solid transparent
}

#topnavcontrol a.off:link :hover,#topnavcontrol a.off:visited :hover,#topnavcontrol a.on:link,#topnavcontrol a:visited
	.on,#topnavcontrol a.on:link :hover,#topnavcontrol a.on:visited :hover
	{
	color: #000000;
	text-decoration: none;
	margin: 0;
	padding: 11px 15px;
	background-color: #f9f8f8;
	display: block;
	border: 1px solid #525455
}

.featureditem a,.featureditemlast a {
	font-weight: bold
}

#leftnav #navcontainer {
	width: 208px;
	margin: 0 0 0 6px;
	padding: 0;
	border: 0;
	background:
		url(./global/athome/PublishingImages/left-nav-container-span.gif) top
		left repeat-y
}

#leftnav #leftnavcta {
	width: 208px;
	margin: 10px 0 0 6px;
	padding: 0;
	border: 0
}

#leftnavcta img {
	margin: 0 0 15px 0;
	padding: 0;
	border: 0
}

#leftnav ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none
}

#leftnav li.root-off {
	font-size: 13px;
	margin: 0 5px;
	padding: 0;
	border: 0;
	display: block;
	width: 198px;
	height: 36px;
	background: url(./global/athome/PublishingImages/left_nav_bg_btn.png)
		top left repeat-x
}

#leftnav li.root-off span {
	margin: 0;
	padding: 0 0 0 20px;
	background:
		url(./global/athome/PublishingImages/left-nav-bullet-right.gif) 8px
		5px no-repeat
}

#leftnav li.root-on {
	font-size: 13px;
	margin: 0 5px;
	padding: 0;
	border: 0;
	display: block;
	width: 198px;
	height: auto;
	background: url(./global/athome/PublishingImages/left-nav-selected.gif)
		top left repeat-x
}

#leftnav li.root-on span {
	margin: 0;
	padding: 0 0 0 20px;
	background:
		url(./global/athome/PublishingImages/left-nav-bullet-down.gif) 8px 5px
		no-repeat
}

a.leftnav:link,a.leftnav:visited {
	color: #000000;
	text-decoration: none;
	display: block;
	height: 36px;
	padding: 10px 0 0 0
}

a.leftnav:link :hover,a.leftnav:visited :hover {
	color: #434343;
	text-decoration: none;
	display: block;
	height: 36px;
	padding: 10px 0 0 0
}

#leftnav .leftnav-show {
	width: 198px;
	margin: -15px 0 8px 0;
	padding: 0;
	border: 0
}

#leftnav .leftnav-show p.sub {
	margin: 0 18px;
	padding: 3px 10px;
	background: url(./global/athome/PublishingImages/related-bullet.gif) 0px
		5px no-repeat;
	font-size: 11px
}

#leftnav .leftnav-show p.sub a {
	height: auto !important;
	margin: 0;
	padding: 0
}

#leftnav .leftnav-show p.submore {
	margin: 10px 18px 0 18px;
	padding: 3px 10px;
	font-size: 11px
}

#leftnav .leftnav-show p.submore a {
	height: auto !important;
	margin: 0;
	padding: 0
}

#adDiv {
	margin: 0 0 20px 14px;
	padding: 0;
	border: 0
}

#thirdParty {
	padding: 20px 0px 20px 10px;
	border: 0
}

p.sub a:link,p.submore a:link,p.sub a:visited,p.submore a:visited {
	color: #4d7cc1;
	font-weight: normal
}

p.sub a:hover,p.sub a:visited :hover,p.submore a:hover,p.submore a:visited
	:hover {
	color: #b81fb3;
	font-weight: normal
}

.leftnav-hide {
	display: none
}

.expando-hide {
	display: none
}

.expando-show {
	display: block;
	border: 0;
	padding: 0;
	margin: 0 0 0 15px
}

.expando-show p {
	margin-left: 10px
}

h3.expando-off {
	padding: 2px 0 0 15px;
	margin: 0 0 10px 0;
	background: url(./global/athome/PublishingImages/expando-plus.gif) 0px
		5px no-repeat
}

h3.expando-on {
	padding: 2px 0 0 15px;
	margin: 0 0 5px 0;
	background: url(./global/athome/PublishingImages/expando-minus.gif) 0px
		5px no-repeat
}

h3.expando-off a,h3.expando-on a {
	color: #434343
}

li h3.expando-off,li h3.expando-on {
	margin-top: -16px
}

#landingherocontents p.intro {
	padding: 90px 200px 0 350px;
	margin: 0;
	color: #434343;
	font-size: 1.2em
}

#homeherocontents p.intro {
	padding: 80px 345px 0 380px;
	margin: 0;
	font-size: 1.2em;
	color: #434343
}

#homeherocontents p.intro a {
	color: #434343
}
.ui-dialog {
	box-shadow: #000 0px 0px 25px;	
}
table p {
	margin: 0;
	padding: 0;
	border: 0
}

table li p {
	margin: 0 0 10px 0
}

table {
	border: 0;
	padding: 0;
	margin: 0;
	border-spacing: 0px;
}

tr {
	border: 0;
	padding: 0;
	margin: 0
}

tr.alternating {
	background-color: #f1f3e5
}

td {
	border: 0;
	border-right: 1px dotted #e5e5e5;
	border-left: 1px dotted #e5e5e5;
	border-bottom: 1px dotted #e5e5e5;
	padding: 5px
}

th {
	border: 0;
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 5px;
	/* background-color: #8d9c4b; */
	background: #e6e6e6/*{bgColorDefault}*/ url(themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/
}

th p {
	color: #ffffff
}

.top {
	margin: 20px 0 15px 0;
	padding: 0;
	border: 0
}

.top p {
	text-align: right;
	margin: 0;
	padding: 0;
	border: 0
}

#footer div {
	float: left;
	width: 350px;
	text-align: left;
	margin: -6px 30px 0 20px
}

#footer p {
	color: #000000;
	margin: 2px 0 0 0;
	font-size: .9em
}

#footer div p {
	margin: 0 0 0 5px;
}

#footer a:link,#footer a:visited {
	color: #000000;
	text-decoration: none;
	margin: 0 5px 0
}

#footer a:link :hover,#footer a:visited :hover {
	color: #000000;
	text-decoration: underline
}

img {
	border: 0
}

img.divider {
	float: left;
	margin: 5px 0 0 0;
	padding: 0
}

img.morelinkimage {
	margin: 0 0 0 3px
}

img.topofpageimage {
	margin: 0 3px 0 0
}

img.newwindow {
	margin: 0 0 0 3px
}

p img {
	vertical-align: middle
}

#homeherovideovariant {
	width: 657px;
	height: 232px;
	border: 0;
	margin: 54px 0 0 313px;
	padding: 0;
	background:
		url(/shared/templates/components/atHomeAtWorkVideoChanger/silverlight-videoplayer-glass.png)
		top left no-repeat;
	background-color: transparent;
	position: absolute
}

#homeherovideovariant .videoplayer {
	float: left;
	width: 390px;
	height: 227px;
	margin: 7px 0 0 7px;
	background-color: transparent
}

#homeherovideovariant .videochooser {
	float: left;
	width: 260px;
	height: 232px;
	background-color: transparent
}

#homeherovideovariant .leftdownlevel {
	background-color: transparent
}

#homeherovideovariant .leftdownlevel .row {
	padding: 14px 0 14px 14px;
	margin: 0;
	background-color: transparent;
	height: 46px
}

#homeherovideovariant .leftdownlevel .row img {
	float: left;
	margin: 0 20px 0 0;
	padding: 0;
	border: 0
}

#homeherovideovariant .leftdownlevel .row a,#homeherovideovariant .leftdownlevel .row a:visited
	{
	font-weight: bold;
	color: #ffffff
}

#homeherovideovariant .leftdownlevel .row a:link :hover,#homeherovideovariant .leftdownlevel .row a:visited
	:hover {
	font-weight: bold;
	color: #6699cc
}

#homeherovideovariant .rightdownlevel {
	background-color: transparent;
	padding: 25px 0 0 0;
	margin: 0;
	border: 0;
	text-align: center
}

#homeherovideovariant .chooserdownlevel {
	width: 657px;
	height: 232px;
	border: 0;
	margin: 1px 0 0 -396px;
	padding: 0;
	background-color: transparent;
	position: absolute
}

.buttonLink {
	border: 1px solid #CCC;
	padding: 3px 10px 3px 10px;	
	color: #FFF;
	font-weight:bold;
	background:
		url(./themes/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png)
		top left no-repeat;
}
.buttonLinkGreen {
	border: 1px solid #CCC;
	padding: 3px 10px 3px 10px;	
	color: #FFF;
	font-weight:bold;
	background:
		url(./themes/ui-lightness/images/ui-bg_gloss-wave_green_f6a828_130x26.jpg)
		top left repeat-x;
}

.regularLink {
	color: #00329B !important;
	font-weight: bold;	
}