.completed {
	display: block;
	float: left;
	width: 34px;
	height: 34px;
	background: url(sprites.png) no-repeat -68px -94px;
	margin-left: -2px;
	margin-top: 1px;
	position: relative;
	z-index: 88;
}
.progress {
	display: block;
	float: left;
	width: 34px;
	height: 34px;
	background: url(sprites.png) no-repeat -102px -94px;
	margin-left: -2px;
	margin-top: 1px;
	position: relative;
	z-index: 88;
}
.error {
	display: block;
	float: left;
	width: 34px;
	height: 34px;
	background: url(sprites.png) no-repeat -136px -94px;
	margin-left: -2px;
	margin-top: 1px;
	position: relative;
	z-index: 88;
}
.invalidated {
	display: block;
	float: left;
	width: 34px;
	height: 34px;
	background: url(sprites.png) no-repeat -34px -94px;
	margin-left: -2px;
	margin-top: 1px;
	position: relative;
	z-index: 88;
}
.legend4 {
	margin-left: -34px !important;
	margin-top: -9px !important;
}
.legend {
	margin-left: -12px !important;
	margin-top: -9px !important;
}
.legend2 {
	margin-left: -34px !important;
}
@-moz-document url-prefix() { 
  .legend3 {
	 margin-left: -12px !important;
  }
}

.search-criteria {
	background-color: rgb(174, 208, 187);
	padding: 10px;
	margin-bottom: 10px;
	text-align: justify;
	border-radius: 5px;
}
.dataTables_processing {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 100%;
	  height: 40px;
	  margin-left: -50%;
	  margin-top: -25px;
	  padding-top: 20px;
	  text-align: center;
	  font-size: 1.2em;
	  background-color: white;
	  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
	  /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	  /* Chrome10+,Safari5.1+ */
	  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	  /* FF3.6+ */
	  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	  /* IE10+ */
	  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	  /* Opera 11.10+ */
	  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	  /* W3C */
}