<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean class="com.jaspersoft.jasperserver.api.common.util.spring.GenericBeanUpdater">
        <property name="definition" ref="addMessageCatalog"/>
        <property name="value">
            <list>
                <value>${resource.root}/bundles/pro_nav_messages</value>
                <value>${resource.root}/internal/jasperserver-pro</value>
                <value>${resource.root}/bundles/logger_descriptions_pro</value>
            </list>
        </property>
        <property name="valueType" value="stringList"/>
    </bean> 
</beans>
