<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>prism web</display-name>
	<context-param>
	    <param-name>webAppRootKey</param-name>
	    <param-value>prism.inors.v.2</param-value>
	</context-param>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- <servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping> -->

	<servlet>
		<servlet-name>jaxws-servlet</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>jaxws-servlet</servlet-name>
		<url-pattern>/StudentDataloadService</url-pattern>
	</servlet-mapping>
	
	<!-- report servlet -->
	<servlet>
		<servlet-name>CustomViewerServlet</servlet-name>
		<servlet-class>com.ctb.prism.report.api.CustomViewerServlet</servlet-class>
		<init-param>
			<param-name>net.sf.jasperreports.web.servlets.viewer.header.template</param-name>
			<param-value>viewer/CustomHeaderTemplate.vm</param-value>
		</init-param>
		<init-param>
			<param-name>net.sf.jasperreports.web.servlets.viewer.body.template</param-name>
			<param-value>viewer/CustomBodyTemplate.vm</param-value>
		</init-param>
		<init-param>
			<param-name>net.sf.jasperreports.web.servlets.viewer.footer.template</param-name>
			<param-value>viewer/CustomFooterTemplate.vm</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>com.ctb.prism.report.api.CustomReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.web.servlets.ResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.ctb.prism.report.api.CustomImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OldImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CustomViewerServlet</servlet-name>
		<url-pattern>/ReportServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/servlets/report</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/servlets/resource</url-pattern>
	</servlet-mapping>
	<!-- <servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/servlets/image</url-pattern>
	</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OldImageServlet</servlet-name>
		<url-pattern>/servlets/images</url-pattern>
	</servlet-mapping>
	<!-- End : report servlet -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/dispatcher-servlet.xml
			        classpath:applicationContext-security.xml
			        classpath:applicationContext-theme.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	<context-param>
		<description>This is a context parameter example</description>
		<param-name>net.sf.jasperreports.web.file.repository.root</param-name>
		<param-value>/WEB-INF/repository</param-value>
	</context-param>
	
	<listener>
	  	<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>net.sf.jasperreports.web.listeners.JasperReportsContextListener</listener-class>
	</listener>	
	
	<display-name>Prism Enterprise Reporting</display-name>

<!-- 	<listener>
		<display-name>Session mutex</display-name>
		<listener-class>org.springframework.web.util.HttpSessionMutexListener</listener-class>
	</listener> -->

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- XSSFilter
	<filter>
		<filter-name>XssFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>XSSFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>XssFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping> -->

	<!-- <filter>
		<filter-name>fusionSWFResponseHeadersFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>fusionSWFResponseHeadersFilter</filter-name>
		<url-pattern>/fusion/*</url-pattern>
	</filter-mapping> -->
	
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>
			com.opensymphony.module.sitemesh.filter.PageFilter
		</filter-class>
		<init-param>
			<param-name>debug.pagewriter</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>characterEncodingProxyFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>characterEncodingFilter</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>characterEncodingProxyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <filter>
		<filter-name>SimplePageCachingFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SimplePageCachingFilter</filter-name>
		<url-pattern>/userlogin.do</url-pattern>
		<url-pattern>/landing.do</url-pattern>
		<url-pattern>/getStandardMatters.do</url-pattern>
		<url-pattern>/getBrowseContent.do</url-pattern>
		<url-pattern>/getEverydayActivity.do</url-pattern>
		<url-pattern>/getStandardActivity.do</url-pattern>
		<url-pattern>/getStandardIndicator.do</url-pattern>
		<url-pattern>/getArticleDescription.do</url-pattern>
		<url-pattern>/getGradeSubtestInfo.do</url-pattern>
	</filter-mapping> -->
	
	<!-- Switch user filter -->
	<filter>
		<filter-name>switchUserProcessingFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>switchUserProcessingFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>switchUserProcessingFilter</filter-name>
		<url-pattern>/j_spring_security_switch_user</url-pattern>
		<url-pattern>/j_spring_security_exit_user</url-pattern>
	</filter-mapping>
	
	<!-- Firsttime login check filter 
	<filter>
		<filter-name>firsttimeLoginCheckFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>firsttimeLoginCheckFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>firsttimeLoginCheckFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>-->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- JNDI configuration -->
	<resource-ref>
		<res-ref-name>jdbc/jasperServer</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<res-ref-name>jdbc/prism</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<!-- Error page config -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/view/error/error.jsp</location>
	</error-page>
	 <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/view/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/WEB-INF/view/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/view/error/error.jsp</location>
    </error-page>
	<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/view/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/WEB-INF/view/error/503.jsp</location>
    </error-page>

</web-app>