<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>JasperReports Viewer</title>
	<meta http-equiv="Content-Type" content="text/html; charset='UTF-8'"/>
	<style type="text/css">
		a {text-decoration: none}
		.result td {
			border: 0px solid red !important;
		}
	</style>
   	<script src='${contextPath}/scripts/js/libs/jquery-1.7.2.min.js'></script>
   	<script src='${contextPath}/scripts/js/libs/jquery-ui.min.js'></script>
   	
   	<script src='${contextPath}/scripts/js/jasper/jasperreports-global.js'></script>
   	<script src='${contextPath}/scripts/js/jasper/jasperreports-reportViewerToolbar.js'></script>
   	<script>
   		jasperreports.global.APPLICATION_CONTEXT_PATH = '${contextPath}';
   	</script>
   	<link type='text/css' rel='stylesheet' href='${contextPath}/scripts/js/libs/theme/jquery.ui.all.css'></link> 
   	<link type='text/css' rel='stylesheet' href='${contextPath}/scripts/js/jasper/jasperreports-global.css'></link>
	
</head>
<body>
<div class='mainReportDiv' style='width: 100%; height: 100%; overflow: visible;'>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
  <td align="left" style="border-top: 1px solid #C2C2C2; border-bottom: 1px solid #C2C2C2;">
<div id='${toolbarId}' class='toolbarDiv' style='display: table-cell;'
  data-url='${currentUrl}' 
  data-totalpages='' 
  data-currentpage=''> 
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td><img class='pageFirst disabledViewerButton' src="${contextPath}/themes/acsi/img/jasper/first.png" border="0"></td>
        <td><img class='pagePrevious disabledViewerButton' src="${contextPath}/themes/acsi/img/jasper/previous.png" border="0"></td>
        <td><img class='pageNext disabledViewerButton' src="${contextPath}/themes/acsi/img/jasper/next.png" border="0"></td>
        <td><img class='pageLast disabledViewerButton' src="${contextPath}/themes/acsi/img/jasper/last.png" border="0"></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td style="display:none"><img class='undo disabledViewerButton' src="${contextPath}/themes/acsi/img/jasper/undo.png" border="0"></td>
        <td style="display:none"><img class='redo disabledViewerButton' src="${contextPath}/themes/acsi/img/jasper/redo.png" border="0"></td>
        <td width="100%">&nbsp;</td>
      </tr>
    </table>
</div>
<script type='text/javascript'>
  jasperreports.reportviewertoolbar.init('${toolbarId}');
</script>
  </td>
</tr>
<tr>
  <td align="center" style="border: 0px solid #000 !important">
<div class='result' style='display: table-cell'>

